html, body {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  box-sizing: border-box;
  margin-left: 15px;
  min-height: 100vh;
  overflow-y: auto;
}

.sidebar {
  width: 250px;
  background-color: #FFE9F1;
  color: #ffffff;
  padding: 10px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.dashboard-content {
  margin-left: 260px;
  width: calc(100% - 260px);
  padding: 20px;
  box-sizing: border-box;
  background-color: #FFC6DA;
  border-radius: 10px;
  min-height: 100vh;
  overflow-y: auto;
}

.profile-card {
  padding: 0px;
  text-align: center;
}

.profile-card h1 {
  font-size: 2rem;
  color: #9D174D;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.profile-card h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: #201c1d;
  margin: 8px auto 0;
}

.metrics {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  margin-top: 30px;
}

.metric-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 28%;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.metric-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.metric-card h3 {
  font-size: 18px;
  color: #ff1a75;
}

.metric-card p {
  font-size: 24px;
  font-weight: bold;
  color: #F472B6;
}

.chart-container {
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.chart-container h3 {
  font-size: 20px;
  color: #ff1a75;
  margin-bottom: 20px;
  text-align: center;
}

.latest-projects {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.projects-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.projects-table th,
.projects-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.projects-table th {
  background-color: #F472B6;
  color: white;
}

.projects-table tr:hover {
  background-color: #f9f9f9;
}

.right-side-container {
  width: 100%;
  margin-top: 20px;
}

.user-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.user-icon-container {
  position: relative;
  cursor: pointer;
}

.user-icon {
  font-size: 30px;
  color: black;
}

.dropdown-menu {
  position: absolute;
  top: 31px;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 150px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-menu li:hover {
  background-color: #F472B6;
  color: white;
}

@media (max-width: 768px) {
  .dashboard-container {
      flex-direction: column;
  }

  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }

  .dashboard-content {
      margin-left: 0;
      width: 100%;
  }

  .metrics {
      flex-direction: column;
  }

  .metric-card {
      width: 100%;
      margin-bottom: 10px;
  }

  .chart-container {
      width: 100%;
  }

  .projects-table {
      width: 100%;
  }

  .right-side-container {
      width: 100%;
  }

  .user-card {
      width: 100%;
  }
}
